@import url('https://fonts.googleapis.com/css?family=Anton');

#story{
	background-color:#EDE25A;
	margin-left:3vw;
	margin-right:3vw;
	margin-bottom: 5%;

}

#s1{	
	position:relative;
	animation-name: scale;
	animation-duration: 3500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;	
}

@keyframes scale {
	0%{
	transform:scale(1,1);
	}
	40%{
		transform:scale(0.9,0.9);
	}
	80%{
		transform:scale(1.1,1.1);		
	}
	100%{
		transform:scale(1,1);
	}
}

#t1{
	width:200px;
	height:200px;
	position:relative;

	animation-name: wave;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	
}

@keyframes wave {
	0%{
	transform:rotate(30deg);
	}
	50%{
		transform:rotate(-60deg);
	}
	100%{
		transform:rotate(30deg);
	}
}

div#nav1{
	position:relative;
	margin:0;
	margin-right:0;
	position:relative;
	text-align:center;

}

div#nav1:hover {
	transform: rotate(45deg);
}
