@import url('https://fonts.googleapis.com/css?family=Anton');


#speak1{
		font-size: 3em;
		font-family: 'Anton', sans-serif;
		color:green; 
		text-align:center;	
		margin-top:0;
		margin-bottom:0px;	
		padding-top:0;
		padding-bottom:0px;
		position:relative;
		
}

#speak2{
		font-size: 3em;
		font-family: 'Anton', sans-serif;
		color:yellow; 
		text-align:center;	
		margin-top:0;
		margin-bottom:0px;	
		padding-top:0;
		padding-bottom:0px;
		position:relative;
	
		
}

#speak3{
		font-size: 3em;
		font-family: 'Anton', sans-serif;
		color:green; 
		text-align:center;	
		margin-top:0;
		margin-bottom:0px;	
		padding-top:0;
		padding-bottom:0px;
		position:relative;
		
}

#speak4{
		font-size: 3em;
		font-family: 'Anton', sans-serif;
		color:green; 
		text-align:center;	
		margin-top:0;
		margin-bottom:0px;	
		padding-top:0;
		padding-bottom:0px;
		position:relative;
		
}

#speak5{
		font-size: 3em;
		font-family: 'Anton', sans-serif;
		color:#EF7C2E; 
		text-align:center;	
		margin-top:0;
		margin-bottom:0px;	
		padding-top:0;
		padding-bottom:0px;
		position:relative;
		
}

#speak6{
		font-size: 3em;
		font-family: 'Anton', sans-serif;
		color:yellow; 
		text-align:center;	
		margin-top:0;
		margin-bottom:0px;	
		padding-top:0;
		padding-bottom:0px;
		position:relative;
		
}